/* 
* Custom native scroll-bar styling
* @author: JuanFuent.es
*/
:root {
    --scroll-background: #e8e8e8;
    --scroll-foreground: #000;
    --scroll-background-over: #666666;
    --scroll-border-radius: 0px;
}

::-webkit-scrollbar {
    background-color: var(--scroll-background);
}

::-webkit-scrollbar-track {
    background-color: var(--scroll-background);
    border-radius: var(--scroll-border-radius);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-foreground);
    border-radius: var(--scroll-border-radius);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-background-over);
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}